#posts {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-row: 4/5;
	grid-gap: 0.6em;
	text-align: center;
}

.post {
	display: flex;
	flex-direction: column;
	background-color: var(--link-color);
}

.post .text {
	background-color: var(--link-color);
	color: var(--main-text);
	padding: .5em;
	text-align: left;
	margin-bottom: .5em;
}

.post .author {
	font-size: .8em;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: var(--bg-drk);
	border: solid 2px #ccc;
	margin-bottom: .5em;
	padding: .5em;
}

.post .date {
	background-color: var(--bgDrk);
	color: var(--link-color);
	padding: .5em;
}

/* For iPhone */

@media (max-width: 450px) {
	#write-post {
		margin: 0 0 1em 0;
	}

	#posts {
		display: grid;
		grid-template-columns: 1fr;
		grid-row: 4/5;
	}

	#post-text {
		color: var(--main-text);
		height: 100px;
		margin-bottom: 1em;
		padding: .5em;
	}

	.compose-img {
		display: block;
		width: 100%;
		margin: 0;
	}
}

/* For iPad */

@media (min-width: 451px) and (max-width: 768px) {
	#posts {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-row: 4/5;
	}

	#post-text {
		color: var(--main-text);
		height: 100px;
	}
}
